* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}


.flex {
    display: flex;
}

nav {
    height: 90px;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    top:0;
    overflow-y: scroll;
}

.button {
    width: 220px;
    height: 40px;
    background-color: transparent;
    border-color: white;
    border-radius: 20px;
    border-width: 1px;
    color: white;
    position: absolute;
    top: 20px;
    right: 80px;
}

.button:hover {
    color: #adff2f;
    transform: scale(140%);
    transition-duration: 2s;
}

aside {
    width: 50px;
    background-color: #000000;
}

.aside-icons {
    width: 20px;
}

.aside-container {
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 90px);
    gap: 10px;
    padding-top: 6px;
}

.aside-bottom-container {
    flex-direction: column;
    align-items: center;
    position: relative;
    top: calc(70vh - 60px);
    gap: 20px;
}

.aside-bottom-container div:nth-child(1){
    color: #808080;
    font-size: small;
}

.aside-bottom-container div:nth-child(2){
    color: #808080;
    font-size: 24px;
}

ul a {
    color: #707378;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}   

ul li {
    opacity: 0.6;
}

ul {
    list-style-type: none;
}

ul a:hover {
    padding-bottom: 4px;
    background:linear-gradient(#adff2f,#adff2f) bottom no-repeat;
    background-size:50% 3px;
}

main {
    width: 100%;
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow-y: auto;
    padding-top: 90px;
    z-index: 1;
}

main::-webkit-scrollbar {
    width: 20px;
}

main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: white;
}

main::-webkit-scrollbar-thumb {
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #c8c8c8;
    border: 4px solid transparent;
    background-clip: content-box;
}

.square-container {
    flex-wrap: wrap;
    gap: 18px;
    width: 100%;
    margin-bottom: 40px;
}

.square {
    width: calc(100% / 2 - 20px / 2);
}

.album img {
    width: 100%;
}

.description {
    text-align: center;
}

.title {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.artist {
    color: #707378;
    margin-top: 10px;
}

.subtitle {
    color: #707378;
    margin-bottom: 20px;
}

.container-scroll {
    padding: 20px;
}

.album-chronology {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.rounded {
    border-radius: 50%;
}

.square-container-chronology {
    flex-wrap: wrap;
    gap: 18px;
    padding-top: 30px;
}

.text {
    color: #707378;
}

.album-spaces {
    margin-top: 40px;
}

.functions {
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
}

.container {
    padding: 20px 20px 0px 20px;
}

footer {
    width: 100%;
    height: 90px;
    background-color: #282828;
    position:fixed;
    bottom:0;
    left:0;
    
}

.player-bar {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.left {
    width: 25%;
    justify-content: left;
    color: #707378;
    gap: 20px;
}

.player-cover {
    
}

.player-cover img {
    width: 40px;
    height: 40px;
}

.center {
    width: 5%;
    justify-content: center;
    color: white;
    gap: 20px;
}

.player {

}

.right {
    width: 25%;
    justify-content: right;
    color: white;
    gap: 20px;  
}


@media screen and (max-width: 640px) {
    .responsive-container{
        display: none;
    }
}

@media screen and (min-width: 640px) {

    aside {
        width: 240px;
    }

    .aside-icons {   
        display: none;
    }

    .aside-bottom-container div:nth-child(1){
        display: none;
    }
    
    .aside-bottom-container div:nth-child(2){
        display: none;
    }

    .button {
        right: 220px;
    }

    .responsive-container {
        width: 100%;
        padding-left: 20px;
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }

    .responsive-container div:nth-child(2) {
       width: 20px;
    }

    .aside-icons-responsive {
        width: 120px;
        color: white;
        flex-direction: column;
        gap: 10px;
    }

    .playlist-icon {
        color: #707378;
        font-size: 40px;
    }

    article {
        color: #707378;
        align-self: center;
        font-size: 12px;
        font-weight: bold;
        text-wrap: nowrap;
    }

    .playlist-title {
        color: white;
        padding-bottom: 10px;
    }

    .playlist {
        gap: 10px;
    }

    .playlist:hover {
        display: flex;
        border-left: 2px #adff2f solid;
        margin-left: -20px;
        padding-left: 18px;
    }

    .new-playlists {
        color: white;
        line-height: 34px;
        font-size: 12px;
    }

    .aside-bottom-container-resp {
        color: white;
        font-weight: bold;
        flex-direction: column;
        position: absolute;
        bottom: 100px;
        left: 20px;
        gap: 10px;
    }

    .aside-bottom-container-resp div:nth-child(1){
        color: #808080;
        font-size: small;
    }
    
    .fa-user-circle {
        font-size: 24px;
    }

    .user {
        gap: 10px;
        align-items: center;
        text-wrap: nowrap;
    }

    .install{
        gap: 10px;
        align-items: center;
        text-wrap: nowrap;
    }

    hr {
        border: 1px solid #adff2f;
        width: 150px;
    }

}

@media screen and (min-width: 868px) {

    .square {
        width: calc(100% / 4 - 28px / 2);
    }

}

@media screen and (min-width: 1440px) {

    .square {
        width: calc(100% / 6 - 30px / 2);
    }

}
